 <header>
    <div class="container">
       
<h1>Bridge the Gap</h1>

        <ul class="nav justify-content-end">

          <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
        
          <li class="nav-item">
            <a class="nav-link active" href="/login">Login</a>
          </li>
       
          
          <li class="nav-item">
            <a class="nav-link" href="/form">Add your Organization</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="/orgs">See All Our Partners</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" id="signOut" href="#">Sign Out</a>
         </li>
        </ul>

    </div>
</header>
 
 <div class="container">

    <div class="jumbotron">
      <h1>Welcome to Bridge the Gap</h1>
      <h3>The site that helps people!!</h3>
    </div>

      
     {{#each org}}  
     <div class="jumbotron">
         <h4>{{dataValues.Name}}</h4>
         <h4>{{dataValues.Email}}</h4>
         <h4>{{dataValues.Phone}}</h4>
         <h4>{{dataValues.url}}</h4>
         <h4>{{dataValues.Description}}</h4>
         <h4>{{dataValues.Days}}</h4>
         <h4>{{dataValues.Address}}</h4>
     </div>
      {{/each}}
     
   

</div>